name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: run-cmake
      # You may pin to the exact commit or the version.
      # uses: lukka/run-cmake@2d1ee0acb9c4f656ec9128fc7387d82ac4539816
      uses: lukka/run-cmake@v10.3
